<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,529},{32,40}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,481},{32,46}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>objects_10_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,281},{126,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>objects_10_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{126,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{126,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>objects_11_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,571},{32,10}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_11_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,532},{32,10}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_12_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,520},{32,10}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_12_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,583},{32,8}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{32,8}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_13_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,164},{134,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,115}}</string>
                <key>sourceSize</key>
                <string>{134,115}</string>
            </dict>
            <key>objects_13_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,330},{112,93}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{112,93}}</string>
                <key>sourceSize</key>
                <string>{134,115}</string>
            </dict>
            <key>objects_14_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,445},{58,73}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>objects_14_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,618},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>objects_15_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,325},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>objects_15_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,279},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>objects_16_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,425},{34,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>objects_16_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,254},{42,23}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>objects_17_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,397},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>objects_17_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,448},{38,21}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{38,21}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>objects_18_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,471},{37,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>objects_18_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,454},{33,25}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{33,25}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>objects_19_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,586},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>objects_19_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,569},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>objects_1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,500},{36,112}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{36,112}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>objects_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,411},{60,32}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,96},{60,32}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>objects_2_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,547},{68,88}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{68,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>objects_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,90},{66,72}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{66,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>objects_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,428},{70,114}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{70,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,330},{78,96}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{78,96}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,228},{106,100}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{106,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>objects_4_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,132},{86,94}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{86,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>objects_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,411},{70,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{70,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_5_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,541},{64,114}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{64,114}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_6_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{86,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_6_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,425},{68,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{68,120}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>objects_7_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,371},{52,24}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>objects_7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,424},{44,22}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>objects_8_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,554},{26,30}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{26,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_8_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,541},{20,26}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_9_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,601},{32,6}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{32,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>objects_9_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,593},{32,6}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{32,6}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>play_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{220,74}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>play_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{264,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,88}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,586},{24,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,520},{26,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,544},{28,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,578},{24,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>replay_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{344,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{344,72}}</string>
                <key>sourceSize</key>
                <string>{412,86}</string>
            </dict>
            <key>replay_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,86}}</string>
                <key>sourceSize</key>
                <string>{412,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameObjectsAtl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec8d3d78f983bcf03e1938653ef00b8$</string>
            <key>textureFileName</key>
            <string>gameObjectsAtl.png</string>
        </dict>
    </dict>
</plist>
